@import url("https://fonts.googleapis.com/css2?family=K2D&display=swap");

html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: #fafafa;
  font-family: "K2D", sans-serif;
}
/* menu */
.Box_Menu {
  background-color: rgb(233, 233, 233);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: none;
}
.info_menu {
  color: rgb(0, 0, 0);
  transition: 0.3s ease-in-out;
  text-decoration: none;
  width: 100%;
}
.box_info_menu {
  transition: 0.3s ease-in-out;
  width: 70%;
  border-radius: 0.5rem;
  background-color: #fff;
}
.box_info_menu:hover {
  background-color: #008065;
  color: #fff;
}
.info_menu:hover {
  color: #fff;
}
.bg_info_menu {
  background-color: #008065;
}
/* banner-navbar */
.banner {
  border-radius: 0px 15px 15px 0px;
}
.bg_head_peoduct {
  background: #008065;
}
/* type_full_product */
.type_full a {
  color: #00b28d;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}
.type_full:hover a {
  color: #058b71;
}
.box_info_product {
  background: #fff;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.box_product {
  text-decoration: none;
  color: #000;
  border-radius: 20px;
  position: relative;
  text-align: center;
  overflow: hidden;
}
.box_product_img {
  overflow: hidden;
}
.box_product img {
  transition: 0.5s ease-in-out;
  width: 100%;
  height: 100%;
}
.box_product:hover img {
  transform: scale(1.2);
  color: #000;
}
.box_product:hover {
  color: #000;
}
.modal-body img {
  width: 100%;
  height: 100%;
}

/* member */
.box_info_member {
  border-bottom: 0.3rem solid #008065;
  border-left: 0.3rem solid #008065;
}
.member_img {
  width: 100px;
  height: 250px;
}
.member_img img {
  height: 100%;
  object-fit: cover;
}
.bar_code {
  width: 100px;
  height: 120px;
}
.bar_code img {
  width: 100%;
  height: 100%;
}
.loguot a {
  color: #000;
}

/* login */
.box_login {
  background: rgb(236, 236, 236);
}
.i_login {
  font-size: 30px;
}
.img_Register img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.box_cart {
  border-left: 2px solid #0dcaf0;
  border-bottom: 2px solid #0dcaf0;
  border-radius: 30px;
  background: #fff;
}

.btn_number {
  border-radius: 100px;
  background: #3434;
}

.btn_number:hover {
  background: rgba(197, 197, 197, 0.452);
}

.fa-minus {
  color: rgb(196, 25, 25);
}
.fa-plus {
  color: #1f9e49;
}
.fa-times-circle {
  color: rgb(196, 25, 25);
  font-size: 100px;
}

.img_pay {
  width: 90%;
  height: 300px;
}

.img_bank {
  width: 90%;
  height: 160px;
  margin: auto;
}

.outstock {
  filter: grayscale(100%);
}

.info_outstock {
  position: absolute;
  top: 90px;
  left: 10px;
  width: 170px;
  padding: 8px;
  border-radius: 10px;
  background: rgba(255, 0, 0, 0.7);
  color: #fff;
}
.box_menu_admin {
  position: fixed;
  z-index: 2000;
}
.box_banner {
  left: 13rem;
  margin-top: 5rem;
}
.box_banner_items {
  left: 13rem;
}
.IMG_Banner {
  width: 1000px;
  height: 500px;
}
.IMG_Banner img {
  width: 100%;
  height: 100%;
}
.btn_del_banner {
  position: relative;
  background: rgb(255, 0, 0);
  border-radius: 50%;
  top: 1rem;
  z-index: 100;
  font-size: 2rem;
  padding: 0.2rem;
  color: #fff;
  transition: 0.3s;
}
.btn_del_banner:hover {
  background: rgb(238, 15, 15);
  color: rgb(0, 0, 0);
}
.banner_promotion {
  margin-top: 3rem;
  width: 10rem;
  height: 42rem;
}

.banner_promotion img {
  border-radius: 1rem;
  width: 100%;
  height: 100%;
}

/* ปุ่ม slick */
button.slick-prev::before,
button.slick-next::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #198754 !important;
  font-size: 36px;
  height: 50px;
}
button.slick-prev::before {
  content: "\f137";
  margin-left: -20px;
}

button.slick-next::before {
  content: "\f138";
  margin-right: -20px;
}

.bg_menu_admin {
  background: #2c57d8;
}

.box_sell_product {
  margin-top: 1rem;
  margin-left: 2rem;
  padding: 1rem;
  height: 100%;
  border: 0.15rem solid rgb(192, 192, 192);
  border-radius: 1rem;
}
/* .box_payment {
  position: absolute;
  top: 44rem;
  left: 65rem;
} */

.box_bill {
  margin-top: 1rem;
  margin-left: 2rem;
  padding: 1rem;
  height: 100%;
  width: 25rem;
  border: 0.15rem solid rgb(192, 192, 192);
  border-radius: 1rem;
}

#chart_sales_now {
  width: 100%;
  height: 10rem;
}
#chart_sales_type_now {
  width: 50rem;
  height: 10rem;
}
#chart_sales_total_money,
#chart_sales_his {
  position: relative;
  top: 2rem;
  left: 12rem;
}
.box_menu_top {
  background: #e9e9e9;
}
.info_menu {
  color: rgb(0, 0, 0);
  transition: 0.4s ease-in-out;
  font-size: 1.1rem;
}
.info_menu:hover {
  color: rgb(0, 0, 0);
  background: #008065;
  border-radius: 1rem;
  color: #fff;
}
.bg_menu_active {
  background: #008065;
  border-radius: 1rem;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .Box_Menu {
    display: flex;
  }
  .item_menu_top {
    display: none;
  }
}
